{% extends "layout2.html" %}

{% block profile %}

        <img class="rounded-circle article-img" src= "{{ url_for('static', filename = 'profile_pics/'+user.image_file) }}">
        <h2>
            <i class="bi bi-person"></i> {{user.username}}
        </h2>
        <p>
            <i class="bi bi-envelope"></i> {{user.email}}
        </p>


{% endblock profile %}

{% block content %}
    {% for post in posts.items %}
        <article class="media content-section">

            <div class="media-body">
                <div class="row">
                    <div class = "col-2">
                        <img class="rounded-circle article-img" src= "{{ url_for('static', filename = 'profile_pics/'+post.author.image_file) }}">
                    </div>
                    <div class = "col-10">
                        <div class="article-metadata">
                            <a class="text-primary mr-2" href="#">{{ post.author.username }}</a>
                            <small class="text-muted">{{ post.date_posted.strftime("%m/%d/%Y, %H:%M:%S") }}</small>
                        </div>
                        <h1><a class="article-title" href="{{url_for('posts.post', post_id=post.id)}}">{{ post.title }}</a></h1>
                        <p class="article-content">{{ post.content }}</p>
                    </div>
                </div>
            </div>

        </article>
    {% endfor %}



    <!-- Button page -->
    {% if posts.page != 1 %}
        <a class="btn btn-outline-success" href={{ url_for('users.user_page', username=user.username, page=posts.page - 1) }}>Prev</a>   
    {% endif %}
    
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1,left_current=1) %}
        {% if page_num %}
            {% if page_num == posts.page %}
                <a class="btn btn-success" href={{ url_for('users.user_page', username=user.username, page=page_num) }}>{{page_num}}</a>   
            {% else %}
            <a class="btn btn-outline-success" href={{ url_for('users.user_page', username=user.username, page=page_num) }}>{{page_num}}</a>   

            {% endif %}
        {% else %}
            ..
        {% endif %}
    {% endfor %}

    {% if posts.page != posts.pages %}
        <a class="btn btn-outline-success" href={{ url_for('users.user_page', username=user.username, page=posts.page + 1) }}>Next</a>   
    {% endif %}

{% endblock content %}